body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold', sans-serif;
}

p {
  color: #8f8f8f;
}

/* HEADING SECTION */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.5;
}

/* CONTAINERS */
.container-fluid {
  padding: 7% 15%;
}

/* SECTION */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/*NAVIGATION BAR*/
.navbar {
  padding: 0 0 72px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 16px;
  font-family: 'Montserrat-Light', sans-serif;
}

/* DOWNLOAD BUTTON */
.download-button {
  margin: 5% 3% 5% 0;
}

/* TITLE SECTION */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* TITLE IMAGE */
.title-image {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* FEATURES SECTION */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 24px;
}

.features-list {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 16px;
}

.icon:hover {
  color: #ff4c68;
}

/* TESTIMONIAL SECTION */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 20px;
  line-height: 1.5;
}

.testimonial-img {
  width: 20%;
  border-radius: 110%;
  margin: 20px;
}

/* PRESS SECTION */
#press {
  background-color: #fff;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* PRICING CARD SECTION */
#pricing {
  padding: 100px;
}

.pricing-title {
  font-size: 24px;
}

.pricing-text {
  font-size: 48px;
  line-height: 1.5;
}

.class-header {
  background-color: #f0f0f0;
}

.pricing-col {
  padding: 3% 2%;
}

/* CTA SECTION */
.social-icon {
  margin: 20px 10px;
}

/* MEDIA SECTION */
@media (max-width: 1020px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
